

/*    TEMPLATE    */

/*    GLOBAL STYLES    */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

@font-face {
    font-family: 'Circular';
    src: url('assets/CircularStd-Book.otf') format('opentype');
}


/*    ROOT    */
:root {
    --primary-clr: #060610;
    --secondary-clr: #f1f1f5;
    --tertiary-clr: #6142fe;
    --gray-clr: #141420;
    --light-gray-clr: #25263b;
    --light-tertiary-clr: #9481fb;
    --lighter-tertiary-clr: #d4cdfa;

    --primary-font: 'Circular';
}



/*    PRIMARY DIVS    */
.app-container {
    display: flex;
}



/*    PRIMARY DIVS - SIDEBAR    */
.sidebar {
    width: 250px;
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    overflow-y: auto;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-gray-clr);
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 25px;
}

.sidebar-logo {
    max-width: 150px;
}

.nav-group {
    margin-bottom: 25px;
}

.nav-group-title {
    font-size: 0.75rem;
    color: #a2a2a2;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 15px;
    margin-bottom: 10px;
    display: block;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    color: #3b3a3a;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.sidebar-nav .nav-link:hover {
    background-color: #f2f6ff;
    color: #9a9898;
}

.sidebar-nav .nav-link:active {
    background-color: #e5e8f0;
}

.sidebar-nav .nav-link.active {
    background-color: var(--light-gray-clr);
    color: var(--secondary-clr);
    font-weight: 600;
}



/*    PRIMARY DIVS - MAIN CONTENT    */
.main-content {
    flex-grow: 1;
    background-color: var(--primary-clr);
    height: 100vh;
    overflow-y: auto;
    padding: 15px;
    color: var(--secondary-clr);
}

.main-header {
    display: flex;
    padding: 15px;
}

.content-card {
    background-color: var(--light-gray-clr);
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}

.search-bar {
    margin-bottom: 15px;
}

.search-bar input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--gray-clr);
    color: var(--secondary-clr);
}

.config-box {
    display: flex;
    gap: 1rem;
}

.content-wrapper {
    flex: 1;
}

#priority-list-container {
    height: 75vh;
    overflow: auto;
}

.config-btn { width: 100%; border-radius: 5px; margin-bottom: 10px; }




/*   LOGIN STYLES    */
.public-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--primary-clr);
}

.login-card {
    display: flex;
    height: 80vh;
    width: 60vw;
}

.login-card .divider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.login-card .divider div {
    display: flex;
    flex-direction: column;
}

.divider.welcome {
    background-color: var(--gray-clr);
    color: var(--secondary-clr);
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
}

.divider.form {
    background-color: var(--light-gray-clr);
    border-radius: 0 10px 10px 0;
    color: var(--secondary-clr);
}

.divider.welcome div {
    margin: 20px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    padding: 10px;
    width: 100%;
    margin-top: 0;
    border: 1px solid var(--light-tertiary-clr);
    border-radius: 5px;
    background-color: var(--light-gray-clr);
    color: var(--secondary-clr);
}

.login-form-div {
    width: 300px;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 20px;
}

#login-form button {
    background-color: var(--tertiary-clr);
    color: var(--secondary-clr);
    padding: 10px;
    border-radius: 5px;
    border: none;
}



/*    MODAL STYLES    */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: var(--light-gray-clr);
    color: var(--secondary-clr);
    z-index: 999;
    padding: 25px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.small-lbl {
    display: block;
    font-size: 11px;
    margin-bottom: 5px;
}

.form input, .form button, select {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.form input {
    background-color: var(--gray-clr);
    color: var(--secondary-clr);
}

.progress-bar {
    display: flex;
    gap: 1rem;
}
#progress-range { flex: 2; }
#task-progress {
    width: 50px;
}



/*    BUTTON STYLES    */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.btn {
    font-size: 11px;
    padding: 5px 15px;
    border-radius: 100px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close-btn:hover {
    color: #333;
}

.hamburger-btn {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.hamburger-line {
    width: 30px;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
}



/*    TABLE STYLES    */
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
    background-color: var(--gray-clr);
}

#task-list-container {
    overflow-x: auto;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--light-gray-clr);
}

@media (max-width: 768px) {
    body.sidebar-open::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1999;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
    .sidebar.show {
        transform: translateX(0);
    }
    .main-content {
        margin-left: 0;
    }
    .hamburger-btn {
        display: flex;
    }

    .config-box {
        flex-direction: column;
    }
    #priority-list-container, #status-list-container {
        height: 35vh;
        overflow: auto;
    }
    #task-list-container {
        height: 75vh;
    }

    .login-card {
        display: flex;
        flex-direction: column;
    }

    #hero-img {
        height: 40px;
    }

    .divider.welcome {
        border-radius: 10px 10px 0 0;
    }

    .divider.form {
        border-radius: 0 0 10px 10px;
    }
}